/****************************************************************************
 *                                                                          *
 * Common                                                                   *
 *                                                                          *
 ****************************************************************************/
/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    /* font: 13.34px helvetica, arial, sans-serif; */
    font-size: 13.34px;
    font-family: 'PT Sans', arial, sans-serif;
    *font-size: small;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

header {
    margin-bottom: 1em;
}

p {
    margin: 1em 0;
}

a {
    color: #00a;
}

a:hover {
    color: black;
}

a:visited {
    color: #a0a;
}

table {
    font-size: inherit;
    font: 100%;
}

code, kbd, samp {
    font-family: "Ubuntu Mono", monospace;
}

/****************************************************************************
 *                                                                          *
 * Home                                                                     *
 *                                                                          *
 ****************************************************************************/

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span,
#post header span { /* For posts header spans too */
    color: #aaa;
    font-family: "Ubuntu Mono", "Courier New", monospace;
    font-size: 100%;
}

/****************************************************************************
 *                                                                          *
 * Site                                                                     *
 *                                                                          *
 ****************************************************************************/

.site {
    width: 70%;
    max-width: 50em;
    /* margin: 0 auto; */
    position: relative;
    min-height: 100%;
    height: auto;

    font-size: 110%;
    text-align: left;
    margin: 3em auto 2em auto;
}

@media screen and (max-width: 865px) {
    .site {
        width: 100%;
        padding: 10px;
    }
}

.site header[role="banner"] {
    font-family: 'Alegreya SC', serif;
    color: #a00;
    font-weight: 700;
    font-size: 3.5em;
    margin-bottom: 0.2em;
}

.site header a, .site nav a {
    color: #a00;
    text-decoration: none;
}

.site header a:hover, .site nav a:hover {
                          color: black;
                      }

.site nav a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
}

.site nav a.first {
    margin-left: 0;
}

.site header a.extra:hover, .site nav a.extra:hover {
                                color: black;
                            }

nav {
    margin-bottom: 2em;
}

nav li {
    display: inline;
}


.site .meta {
    color: #aaa;
}

.site footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
    padding-top: 1em;
}

.site footer .contact {
    float: left;
    margin-right: 3em;
}

.site footer .contact a {
    color: #8085C1;
}

.site footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.site footer .rss img {
    border: 0;
}

/****************************************************************************
 *                                                                          *
 * Posts                                                                    *
 *                                                                          *
 ****************************************************************************/

#post header {
    font-family: 'Alegreya SC', serif;
}

#post header h1 {
    font-weight: 700;
    font-size: 1.5em;
}

#post pre {
    border-radius: 15px;
    padding: 10px;
    overflow: auto;
}

/* standard */

#post ul,
#post ol {
    margin-left: 1.35em;
}

#related {
    margin-top: 2em;
}

#related h2 {
    margin-bottom: 1em;
}