{% extends "base.html" %}


{% block content %}

<main>
    <section>
        <h1>About</h1>
        <p>Hi there, my name is Jonathan Fok kan and I am a Software Developer from Montréal.</p>
        <p>Here are some links of me on various services</p>
        <div class="blogpostlist">
            <ul>
                <li>
                    <a href="https://github.com/jonfk">
                        <i class="fab fa-github-square"></i> Github
                    </a>
                </li>
                <li>
                    <a href="/resume.pdf">
                        <i class="fas fa-file-pdf"></i> Resume
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/jonfk">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                </li>
            </ul>
        </div>
    </section>
</main>

{% endblock content %}
