<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="apple-touch-icon" href="/icon.png">
    <!-- Place favicon.ico in the root directory -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=PT+Sans&family=Ubuntu+Mono&display=swap');
    </style>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/fontawesome/fontawesome.min.css">
    <link rel="stylesheet" href="/css/fontawesome/brands.min.css">
    <link rel="stylesheet" href="/css/fontawesome/solid.min.css">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
    <link rel="sitemap" type="application/xml" href="/sitemap.xml">



    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <header style="background: white none repeat scroll 0% 0%; margin-bottom: 2rem;">
        <div>
            <h1>
                <a href="/">JONFK</a>
            </h1>
            <nav>
                <ul style="margin-bottom: 0px;">
                    <li><a style="margin-left: 0px;" href="/">home</a></li>
                    <li><a href="/about">about</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock content %}

    <footer>
        <span style="font-size:80%;color:#666">© 2021 Jonathan Fok kan</span>
        <a href="/rss.xml" style="float:right;font-size:130%"><i class="fas fa-rss"></i></a>
    </footer>
</body>

</html>
