<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="style.css">
    <!-- <style>
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=PT+Sans&display=swap');
    </style> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=PT+Sans&family=Ubuntu+Mono&display=swap');
    </style>

    <meta name="theme-color" content="white">
</head>

<body>
    <header style="background: white none repeat scroll 0% 0%; margin-bottom: 2rem;">
        <div>
            <h1>
                <a href="/">JONFK</a>
            </h1>
            <nav>
                <ul style="margin-bottom: 0px;">
                    <li><a style="margin-left: 0px;" href="/">home</a></li>
                    <li><a href="/about">about</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock content %}
</body>

</html>
