{% extends "base.html" %}


{% block content %}
{% set blog = get_section(path="blog/_index.md") %}
<main>
    <section>
        <h2>Posts</h2>
        <div class="blogpostlist">
            <ul>
                {% for page in blog.pages %}
                <li>
                    <time style="color:#777;font-family:Ubuntu Mono,monospace" datetime="{{ page.date }}">{{ page.date | date(format="%d %b %Y") }}</time> » <a href="{{ page.permalink }}">{{ page.title }}</a>
                </li>
                {% endfor %}
            </ul>

        </div>
    </section>
</main>

{% endblock content %}
