{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
{% set blog = get_section(path="blog/_index.md") %}
<main>
    <section>
        <h1>Posts</h1>
        <div class="blogpostlist">
            <ul>
                {% for page in blog.pages %}
                <li>
                    {{ macros::display_date(date=page.date) }} » <a href="{{ page.permalink }}">{{ page.title }}</a>
                </li>
                {% endfor %}
            </ul>

        </div>
    </section>
</main>

{% endblock content %}
