<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="Jonathan Fok kan" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

    <link href='https://fonts.googleapis.com/css?family=Alegreya+SC:700,400' rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/img/favicon-128x128.png" sizes="128x128" />
  </head>
  <body>


    <div class="site">
      <header role="banner">
        <a href="/">Jonfk</a>
      </header>
      <nav>
        <ul>
          <li>
            <a class="first extra" href="/">home</a>
          </li>
          <li>
            <a class="extra" href="/favorites.html">favorites</a>
          </li>
        </ul>
      </nav>

      <main>
        {{ content }}
      </main>

      <footer>
        © 2016 Jonathan Fok kan.
      </footer>

    </div>

  </body>
</html>
