<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="Blog of Jonathan Fok kan">
    <meta name="author" content="Jonathan Fok kan">
    <link rel="stylesheet" href="/css/main.css">

    <!-- Bootstrap
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    -->

  </head>
  <body>
    <a id="title" href="/"><h1>Scaling Simplicity</h1></a>
    <hr>
    <div class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="/favorites.html">Favorites</a></li>
      </ul>
    </div>


    {{ content }}

  </body>
</html>
