<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>{{ page.title }}</title>
   <meta name="author" content="Jonathan Fok kan" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
</head>
<body>


<div class="site">
  <header>
    <a href="/">Jonfk</a>
    <a class="extra" href="/">home</a>
    <a class="extra" href="/favorites.html">favorites</a>
  </header>

  <main>
  {{ content }}
  </main>

  <footer>
    © 2016 Jonathan Fok kan.
  </footer>

</div>

</body>
</html>
